<header class="sitehead">
  <div class="wrap">
    <h1 class="brand">
      <a href="/">TUMS</a>
    </h1>
    <nav class="global-nav">
      <ul class="global-nav__list">
        <li class="global-nav__list__item">col-12</li>
        <li class="global-nav__list__item">col-6</li>
        <li class="global-nav__list__item">col-4</li>
      </ul>
    </nav>
  </div>
</header>

<div class="search">
  <textarea class="search__input" placeholder="input text you wanna translate" (keyup)="inputSearch(input.value)" #input></textarea>

  <div class="language-selector">
    <div class="language-selector__item">
      <label for="" class="language-selector__item__text">EnToJp</label>
      <input type="radio" class="language-selector__item__radio" name="languageSelector" id="languageSelectorEnToJp" value="en-to-jp">
    </div>

    <div class="language-selector__item">
      <label for="" class="language-selector__item__text">JpToEn</label>
      <input type="radio" class="language-selector__item__radio" name="languageSelector" id="languageSelectorJpToEn" value="jp-to-en">
    </div>
  </div>
</div>

<div class="main-content-wrapper">
  <app-translate-site [searchText]="searchText" [langFrom]="langFrom" [langTo]="langTo"></app-translate-site>
</div>
