<header class="sitehead">
  <div class="wrap">
    <h1 class="brand">
      <a href="/">TUMS</a>
    </h1>
    <nav class="global-nav">
      <ul class="global-nav__list">
        <li [ngClass]="layoutMode == 'line' ? 'global-nav__list__item--selected' : 'global-nav__list__item'" >
          <button id="btnChangeLayoutToGrid" (click)="changeLayout('line')">
            <i class="fa fa-th-list" aria-hidden="true"></i>
          </button>
        </li>
        <li [ngClass]="layoutMode == 'grid' ? 'global-nav__list__item--selected' : 'global-nav__list__item'" >
          <button id="btnChangeLayoutToLine" (click)="changeLayout('grid')">
            <i class="fa fa-th-large" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="search">
  <textarea class="search__input" placeholder="input text you wanna translate" (keyup)="inputSearch(input.value)" #input></textarea>

  <div class="language-selector">
    <div class="language-selector__item">
      <label for="" class="language-selector__item__text">EnToJa</label>
      <input type="radio" class="language-selector__item__radio" name="languageSelector" id="languageSelectorEnToJa" (change)="changeLanguage('en', 'ja')" checked="checked">
    </div>

    <div class="language-selector__item">
      <label for="" class="language-selector__item__text">JaToEn</label>
      <input type="radio" class="language-selector__item__radio" name="languageSelector" id="languageSelectorJaToEn" (change)="changeLanguage('ja', 'en')">
    </div>
  </div>
</div>

<div class="main-content-wrapper" [style.flex-flow]="layoutMode == 'line' ? 'column' : 'row'">
  <app-translate-site *ngFor="let site of sites" [searchText]="searchText" [langFrom]="langFrom" [langTo]="langTo" [site]="site"></app-translate-site>
</div>
